.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
}
.product-name:hover{
    color: rgb(27, 27, 141);
}
.cart-button{
    background-color: goldenrod;
    height: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}